services:
  api:
    image: !reset null
    build:
      context: .
      dockerfile: Dockerfile
      target: ${APP_ENV}
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./:/app/
